<%= form_for @recipe do |f| %>
  <%= render 'shared/error_messages' %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <%= f.fields_for :recipe_ingredients do |builder| %>
    <p>
    <%= builder.label :qty, "Qty" %><br/>
    <%= builder.text_field :qty %>
    <%= builder.check_box :_destroy %>
    <%= builder.label :_destroy, "Remove ingredient" %>
    <%= f.fields_for :ingredient do |inner| %>
      <%= inner.label :name, "Ingredient" %>
      <%= inner.text_field :name %>
    <% end %>
    </p>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>
