<h1>Recipes</h1>
<br/>
<%= "List of recipes containing #{@ingredient.display_name}" unless @ingredient.nil? %>

<p>

<%= will_paginate %>

<ul class="recipes">
  <%= render @recipes %>
</ul>
<%= will_paginate %>


<br>


<%= link_to 'Search Recipes', search_path %>
