<%= form_for(@ingredient) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  <%= f.label :name %>
      <%= f.text_field :name %>
    <%= f.label :qty %>
      <%= f.text_field :qty %>
      <%= f.label :uom %>
      <%= f.text_field :uom %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
